{% extends "layout.html" %}
{% block content %}
<h1>Edit profile</h1>
<h2>{{ message }}</h2>

<h2>Edit languages you are learning</h2>
<h3>Can learn up to four languages</br>
Leaving a field empty gets rid of the language</h3>
<form action="/user/{{ sesion.username }}/profile/edit/lang" method="POST">
    <input type="text" name="lang1" value="{{}}" required></p>
    <input type="text" name="lang2" value="{{}}" required></p>
    <input type="text" name="lang3" value="{{}}" required></p>
    <input type="text" name="lang4" value="{{}}" required></p>
    <input type="submit" value="Change">
</form>

{% endblock %}