<h1>Flashcard mode</h1>
{% if length == 0 %}
<h2>No cards in this list. Go add some to start!</h2>
{% else %}
<b id="listLength" value="{{ length }}">Cards in list: {{ length }}</b>
<b>Cards left: </b>
<b id="cardsLeft">{{ length }}</b>
<div id="cardfront">
    <input type="button" name="flip" value="flip" onclick="flash()">
</div>
<b id="meaningCard">{{ cards[0].word }}</b>
<div id="cardback" style="visibility:hidden">
    <b id="answerCard">{{ cards[0].translation }}</b>
    <br>
    <input type="button" name="flip" value="Didn't get it..." onclick="nextCard()">
    <input type="button" name="flip" value="Got it!" onclick="nextCard()">
</div>

{% endif %}
<a href="/user/{{ session.username }}/mylists/{{ listname }}">Back</a>
<script>
    function flash() {
        if (cardfront.style.visivility != "hidden") {
            document.getElementById("cardfront").style.visibility = "hidden";
            document.getElementById("cardback").style.visibility = "visible";
        } 
    }
    let words = [];
    let translations = [];
    let currentCard = 1;
    {% for card in cards %}
    words.push("{{ card[0] }}")
    translations.push("{{ card[1] }}");
    {% endfor %}

    {% raw %}
    function nextCard() {
        document.getElementById("cardfront").style.visibility = "visible";
        document.getElementById("cardback").style.visibility = "hidden";
        
        if (translations.length >  currentCard) {
            document.getElementById("meaningCard").textContent = words[currentCard];
            document.getElementById("answerCard").textContent = translations[currentCard];
            currentCard++;    
        }
        if (currentCard == 5) {

        }
        
    }
    {% endraw %}

</script>
