{% extends "layout.html" %}
{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="col-11">
            <div class="bg-light">
                <h1>What is Language Notes?</h1>
                <div class="col-9">
                    Language notes is an online SRS (Spaced Repetition System) flashcard program
                    used to help you learn a new language. Adding SRS system to flashcards makes learning more 
                    efficient by not introducing already learned cards to your face every other minute.
                </div>
            </div>
            <p>
            <div class="bg-light">
                <h1>How do I use it?</h1>
                <div class="col-9">
                    <p>
                    At start you might want to create yourself a <strong>list</strong> where you can 
                    add your own cards. A list can be created in <strong>My lists</strong> tab in navigation bar.
                </p>
                    <p>
                        Now you probably want to add cards to your list. That can be done by clicking the list name 
                        which opens up your list. There you can add cards. When you are finished adding cards. You can 
                        study them in <strong>Study mode</strong> by pressing Study in your list. Remember, you can add, edit
                        and remove cards as you please.
                    </p>
                    <p>
                        If you know a friend using Language Notes, you can add him/her by searching their username.
                        Searching a user opens their profile page. There you can find a follow button and their lists and languages.

                    </p>
                    <p>
                        You can also add yourself languages that you are learning. You can add those by going to your profile
                        page and click <strong>Edit profile</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}