<h1>Lists</h1>
{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<a href="/logout">Logout</a>
<br>
<ul>
    <li><a href="/home">Home</a></a>
    <li><a href="/lists">Lists</a></a>
    <li><a href="/home">Friends</a></a>
    <li><a href="/home">Search</a></a>
    <li><a href="/home">FAQ/Info</a></a>
</ul>
<br>
<label>Creata a new list</p>
<form action="/lists" method="POST">
    <label>Name for the list:<br>
    <input type="text" name="listname"></p>
    <input type="submit" value="Create">
</form>
<p>
{% for list in lists %}
<form action="/delete/{{ list[0] }}" method="POST">
    <a href="/lists/{{ session.username }}/{{ list[0] }}">{{ list[0] }}</a>
    <input type="button" name="openButton" value="edit" onclick="openForm()">
    <input type="submit" name="btn" value="delete"><p>   
    <p>
</form>
<div id="editForm" style="display:none">
    <form action="/edit/{{ list[0] }}">
  
      <label for="email"><b>New Name</b></label>
      <input type="text" placeholder="New name" name="newName" required>

      <button type="submit" onclick="closeForm()">Close</button>
    </form>
  </div>
{% endfor %}
{% else %}
<a href="/">Login</a>
{% endif %}


<script>

function openForm() {
  document.getElementById("editForm").style.display = "block";
}

function closeForm() {
  document.getElementById("editForm").style.display = "none";
}
</script>