{% extends "layout.html" %}
{% block content %}
<div>
<div class="container h-100">
<div class="row">
    <div class="col-10">
<h1>List: {{ listname }}</h1>
<h2><a href="/user/{{ session.username }}/mylists/{{ listname }}/study">Study cards</a></h2>
<p>Note: Study mode requires javascript to be enabled</p>
<h3>Add card</h3>
<form action="/user/{{ session.username }}/mylists/{{ listname }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Word:<br>
        <input type="text" name="word" placeholder="Enter word" required></p>
    <p>Translation:</p>
    <input type="text" name="translation" placeholder="Enter translation" required></p>
    <input type="submit" value="Add">
</form>
<p>
    {% with messages = get_flashed_messages(category_filter=["message", "error"]) %}
    {% if messages %}
      {%- for message in messages %}
        <h2 class="{{ category }}">{{ message }}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <h3>Cards: </h3>
    {% for card in cards %}
    <li class="list-group-item bg-light">
        <form action="/user/{{ session.username }}/mylists/{{ listname }}/deletecard" method="POST">
            <b> Word: </b> {{ card[0] }} <b> Tranalstion: </b> {{ card[1] }} <b> Next review: </b> {{ card[2] }}
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type=hidden value="{{ card[0] }}" name="word">
                <input type=hidden value="{{ card[1] }}" name="translation">
                <input type=hidden value="{{ name }}" name="listname">
                <input type="submit" name="btn" value="delete">
            
        </form>
        <p>
        <div>
            <form action="/user/{{ session.username }}/mylists/{{ listname }}/editcard" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type=hidden value="{{ card[0] }}" name="word">
                <input type=hidden value="{{ card[1] }}" name="translation">
                <input type=hidden name="listname" value="{{ name }}">
                <input type="text" name="newWord" value="{{ card[0] }}" required>
                <input type="text" name="newTranslation" value="{{ card[1] }}" required>
                <input type="submit" value="Edit">
            </form>
        </div>
        </li>
        <p>
    {% endfor %}
</div>
</div>
    {% endblock %}