<h1>{{ listname }}</h1>

{% extends "layout.html" %}
{% block content %}
<h2><a href="/user/{{ session.username }}/mylists/{{ listname }}/study">study</a></h2>
<h3>Note: Study mode requires javascript to be enabled</h3>
<br>

<p>Add card</p>
<form action="/user/{{ session.username }}/mylists/{{ listname }}" method="POST">
    <p>Word:<br>
    <input type="text" name="word" required></p>
    <p>Translation:</p>
    <input type="text" name="translation" required></p>
    <input type="submit" value="Add">
</form>
<p>
<h3>{{ message }}</h3>
<h3>Cards: </h3>
{% for card in cards %}
<ul>
    <form action="/user/{{ session.username }}/mylists/{{ listname }}/deletecard" method="POST">
        <li>{{ card[0] }} {{ card[1] }} {{ card[2] }}
        <input type=hidden value="{{ card[0] }}" name="word">
        <input type=hidden value="{{ card[1] }}" name="translation">
        <input type=hidden value="{{ name }}" name="listname">
        <input type="submit" name="btn" value="delete">
        </li>
    </form>

    <div>
        <form action="/user/{{ session.username }}/mylists/{{ listname }}/editcard" method="POST">
            <input type=hidden value="{{ card[0] }}" name="word">
            <input type=hidden value="{{ card[1] }}" name="translation">
            <input type=hidden name="listname" value="{{ name }}">
            <input type="text" name="newWord" value="{{ card[0] }}" required>
            <input type="text" name="newTranslation" value="{{ card[1] }}" required>
            <input type="submit" value="Edit">
        </form>
    </div>
<p>
</ul>
{% endfor %}
{% endblock %}
