<h1>Your collection</h1>

{% extends "layout.html" %}
{% block content %}
<br>
<p>Creata a new list</p>
<form action="/user/{{ session.username }}/mylists" method="POST">
    <p>Name for the list:<br>
    <input type="text" name="listname" required></p>
    <input type="submit" value="Create">
</form>
<h3>Lists</h3>
<div>
{{ message }}
{% for list in lists %}
<form action="/user/{{ session.username }}/mylists/{{ list[0] }}/delete" method="POST">
    <a href="/user/{{ session.username }}/mylists/{{ list[0] }}">{{ list[0] }}</a>
    <input class="manageList" type="submit" name="btn" value="delete"> 
</form>
<div class="owner">
    <form action="/user/{{ session.username }}/mylists/{{ list[0] }}/edit" 
    method="POST">
        <input type="hidden" name="listname" value="{{ list[0] }}">
        <input type="text" name="newName" placeholder="Enter new name" required>
        <input type="submit" value="Rename">
    </form>
</div>
{% endfor %}
</div>
{% endblock %}



<script>

function openEdit() {
  document.getElementById("editForm").style.display = "block";
}

function closeEdit() {
  document.getElementById("editForm").style.display = "none";
}

</script>