{% extends "layout.html" %}
{% block content %}
{% if username == "User does not exist" %}
<h1>Oops! User does not exist :(</h1>
{% else %}
<h1>{{ username }}'s profile</h1>
{% if username == session.username %}
<a href="/user/session.username/profile/edit">Edit profile</a>
{% endif %}
<h2>Learning:</h2>
{% for lang in languages %}
<h3>{{ lang[0] }}</h3>
{% endfor %}

<p>{{ message }}</p>
<form action="/user/{{ username }}/profile" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name="follow" value="{{ follow }}">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <h2 class="{{ category }}">{{ message }}</h2>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h2>Lists</h2>
{% for list in lists %}
<a href="/user/{{ username }}/profile/{{ list[0] }}">{{ list[0] }}</br>
    {% endfor %}
    {% endif %}
    {% endblock %}